<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" th:action="@{/events/edit}">
  <input type="hidden" th:value="${event.id}" name="eventId" />
  <div class="form-group">
    <label>Name
      <input type="text" name="name" th:value="${event.name}" class="form-control">
    </label>
  </div>
  <div class="form-group">
    <label>Description
      <input type="text" name="description" th:value="${event.eventDetails.description}" class="form-control">
    </label>
  </div>
  <div class="form-group">
    <label>
      Date
      <input th:field="${event.eventDetails.date}" placeholder="MM/DD/YYYY" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>
      Location
      <input th:field="${event.eventDetails.location}"  placeholder="City, State" class="form-control">
    </label>
    <p class="error" th:errors="${event.eventDetails.location}"></p>
  </div>
  <div class="form-group">
    <label>
      Contact Email
      <input th:field="${event.eventDetails.contactEmail}"  placeholder="example: xxx@gmail.com" class="form-control">
    </label>
    <p class="error" th:errors="${event.eventDetails.contactEmail}"></p>
  </div>
  <div class="form-group">
    <input type="submit" value="Edit" class="btn btn-success">
  </div>
</form>

</body>
</html>