<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>



    <table class="table table-striped">
        <thead class="thead-light">

        <p class="container">

            <label>
                <input type="text" placeholder="Search by date, event, etc." th:field="${events}" class="form-control-lg">
            </label>
            <input type="submit" value="Search" class="btn btn-info">

        </p>
            <tr>
                <td>Date</td>
                <td>Event Name</td>
                <td>Location</td>
            </tr>
        <h3>All Sporting Events</h3>
        <p th:unless="${events} and ${events.size()}">No events have been added.</p>
        <p><a href="/events/create">Create Event</a></p>
        <tr>
            <th:block th:each="event:${events}">
                <td th:text="${event}"></td>
            </th:block>
        </tr>
        </thead>
    </table>

</body>
</html>