<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
    <h3  class="media">PassTime Sports</h3>
    <a href="https://bit.ly/3v0fLdE" class="container">NFL</a>
    <a href="https://on.nba.com/3ypa9vo" class="container">NBA</a>
    <a href="https://www.mlb.com/tickets" class="container">MLB</a>
    <a href="https://www.nhl.com/tickets" class="container">NHL</a>
    <a href="https://www.mlssoccer.com/tickets/" class="container">MLS</a>
    <a href="https://www.ncaa.com/sports/football/fbs" class="container">NCAA Football</a>
    <a href="https://www.ncaatickets.com/championship/march-madness" class="container">NCAA Men</a>
    <a href="https://www.ncaatickets.com/championship/womens-final-four" class="container">NCAA Women</a>

    <table class="table table-striped">
        <thead class="thead-light">
        <div class="form-group">
            <label>
                <input type="text" placeholder="Search by date, event, etc." th:field="${events}" class="form-control-lg">
            </label>
            <input type="submit" value="Search" class="btn btn-info">

        </div>
            <tr>
                <td>Date</td>
                <td>Event Name</td>
                <td>Location</td>
            </tr>
        <h3>All Sporting Events</h3>
        <p th:unless="${events} and ${events.size()}">No events have been added.</p>
        <tr>
            <th:block th:each="event:${events}">
                <td th:text="${event}"></td>
            </th:block>
        </tr>
        </thead>
    </table>

</body>
</html>