<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->
<!--<body class="container">-->
<!--<header th:replace="fragments :: header"></header>-->


<!--<form method="post" action="/events/create">-->
<!--    <div>-->
<!--        <label>Create Sporting Event-->
<!--            <input type="text" name="name" placeholder="create an event" class="form-control">-->
<!--        </label>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>-->
<!--            Description-->
<!--            <input type="text" name="description" placeholder="a brief description" class="form-control">-->
<!--        </label>-->
<!--    </div>-->

<!--    <div>-->
<!--        <input type="submit" value="Create" class="btn btn-info">-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->