<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--in general, fragments allows me to share code across the other templates in my app.-->
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>PassTime Sports</title>

    <script th:src="@{script.js}"></script>
    <link th:href="@{styles.css}" rel="stylesheet">
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>

<header th:fragment="header">

    <nav class="navbar navbar-dark bg-dark">
        <img th:src="@{/passtime-logo2.png}" >
        <div  class="media" >
            <a th:href="@{/}" th:style="|${'color: white;'}|"  >PassTime Sports</a>

        </div>
        <div>
            <a th:href="@{/events}">Sporting Events</a>
        </div>
        <ul class="nav" style="float-right;">
            <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>

        </ul>
    </nav>



    <div >

        <a th:href="@{/}" class="container">Home</a>
        <a th:href="@{https://bit.ly/3v0fLdE}" class="container">NFL</a>
        <a href="https://on.nba.com/3ypa9vo" class="container">NBA</a>
        <a href="https://www.mlb.com/tickets" class="container">MLB</a>
        <a href="https://www.nhl.com/tickets" class="container">NHL</a>
        <a href="https://www.mlssoccer.com/tickets/" class="container">MLS</a>
        <a href="https://www.ncaa.com/sports/football/fbs" class="container">NCAA Football</a>
        <a href="https://www.ncaatickets.com/championship/march-madness" class="container">NCAA Men</a>
        <a href="https://www.ncaatickets.com/championship/womens-final-four" class="container">NCAA Women</a>
    </div>
    <h1 th:text="${title}">PassTime Sports</h1>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>


        <a th:href="@{/events}" class="container">View All Events</a>
        <a th:href="@{/events/create}" class="container">Create Event</a>
        <a th:href="@{/typeOfEvent}" class="container">View Event Types</a>
        <a th:href="@{/typeOfEvent/create}" class="container">Create Event Types</a>
        <a th:href="@{/tags}" class="container">View Tags</a>
        <a th:href="@{/tags/create}" class="container">Create Tags</a>



</header>


</body>
</html>