<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--in general, fragments allows me to share code across the other templates in my app.-->
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>PassTime Sports</title>

    <script th:src="@{script.js}"></script>
    <link th:href="@{styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>

<header th:fragment="header">

    <nav class="navbar navbar-dark bg-dark">
        <img th:src="@{/passtime-logo2.png}" width="200" height="100">
        <h3  class="media" th:href="@{/events}">PassTime Sports
            <a ></a>
        </h3>Sporting Events
    </nav>

    <ul class="nav" style="float:right;">
        <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>

    </ul>

    <div >

        <a th:href="@{https://bit.ly/3v0fLdE}" class="container">NFL</a>
        <a href="https://on.nba.com/3ypa9vo" class="container">NBA</a>
        <a href="https://www.mlb.com/tickets" class="container">MLB</a>
        <a href="https://www.nhl.com/tickets" class="container">NHL</a>
        <a href="https://www.mlssoccer.com/tickets/" class="container">MLS</a>
        <a href="https://www.ncaa.com/sports/football/fbs" class="container">NCAA Football</a>
        <a href="https://www.ncaatickets.com/championship/march-madness" class="container">NCAA Men</a>
        <a href="https://www.ncaatickets.com/championship/womens-final-four" class="container">NCAA Women</a>
    </div>

</header>

</body>
</html>