<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Hello List</title>
</head>
<body>
<table  class="table-striped">
    <tr>
        <th>Ryan</th>
        <th>Aldo</th>
        <th>TC</th>
        <th>tc</th>
    </tr>
    <tr >
        <td th:each="dogName: ${dogNames}">
            <ul th:text="${dogName}"></ul>
        </td>
    </tr>
</table>

<ul>
    <th:block th:each="name: ${names}">
        <li th:text="${name}"></li>

    </th:block>
</ul>

</body>
</html>