<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<!--<h1>PassTime Sports Events</h1>-->

<header th:replace="fragments :: header"></header>
        <p>
                <input type="text" placeholder="Search by date, event, etc."  class="form-control">
                <input type="submit" value="Search" class="btn btn-info">
        </p>
<div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9OigYTHnDZk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</body>
</html>