<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header"></header>
<body>
<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class="job-listing">
        <tr th:each="event : ${events}">
            <td>
                <p>
                    Event Id:
                    <a th:href="@{'/view/' + ${event.id}}" th:text="${event.id}"></a>
                </p>
                <p th:text="${'Name: ' + event.name}"></p>
                <p>
                    Type:
                    <a th:href="@{'/typeOfEvent/view/' + ${event.typeOfEvent.id}}" th:text="${event.typeOfEvent.name}"></a>
                </p>
                <p>
                    Tags:
                <ul th:each="tag : ${event.tags}">
                    <li>
                        <a th:href="@{'/tags/view/' + ${tag.id}}" th:text="${tag.name}"></a>
                    </li>
                </ul>
                </p>
            </td>
        </tr>
    </table>

</div>

</body>
</html>