<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead class="thead-light">
    <tr>
        <th>Event ID</th>
        <th>Event Type</th>
    </tr>
    </thead>
    <tr th:each="type:${types}">
        <td th:text="${type.id}"></td>
        <td  ><a th:text="${type.name}" th:href="'/events?typeId=' + ${type.id}"></a></td>
    </tr>

</table>

</body>
</html>